.FeaturedProduct_ScrollerCard_Info_Color_Swatch01 {
    background-color: #852a2b;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch02 {
    background-color: #95634C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch03 {
    background-color: #6A3626;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch04 {
    background-color: #AB644E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch05 {
    background-color: #C37B6F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch06 {
    background-color: #B6685E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch08 {
    background-color: #87625A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch09 {
    background-color: #5A3C31;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch10 {
    background-color: #472C25;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch11 {
    background-color: #842A2A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch12 {
    background-color: #45281a;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch13 {
    background-color: #AB8669;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch14 {
    background-color: #97715C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch15 {
    background-color: #6C422A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch16 {
    background-color: #8A5E41;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch17 {
    background-color: #832A2A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch18 {
    background-color: #CC4957;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch19 {
    background-color: #B96A7F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch20 {
    background-color: #C6704D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch21 {
    background-color: #BF5034;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch22 {
    background-color: #A2231C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch23 {
    background-color: #D48672;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch24 {
    background-color: #AB6F4A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch25 {
    background-color: #791837;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch26 {
    background-color: #3A281A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch27 {
    background-color: #452E20;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch28 {
    background-color: #563D27;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch29 {
    background-color: #593F28;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch30 {
    background-color: #4F351E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch31 {
    background-color: #583C27;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch32 {
    background-color: #634126;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch33 {
    background-color: #68492C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch34 {
    background-color: #68462D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch35 {
    background-color: #6F4A30;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch36 {
    background-color: #785130;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch37 {
    background-color: #8A5B3D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch38 {
    background-color: #8A5E3B;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch39 {
    background-color: #A26F42;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch40 {
    background-color: #A26F42;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch41 {
    background-color: #AE7B4E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch42 {
    background-color: #AA7E4D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch43 {
    background-color: #A9723C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch44 {
    background-color: #B48652;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch45 {
    background-color: #C49261;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch46 {
    background-color: #C3945E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch47 {
    background-color: #D09C6A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch48 {
    background-color: #D4A26F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch49 {
    background-color: #E0B27E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch50 {
    background-color: #DAAF85;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch51 {
    background-color: #E8C08D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch52 {
    background-color: #EEC99D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch53 {
    background-color: #ECC9A1;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch54 {
    background-color: #EFCDAA;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch55 {
    background-color: #F2D2AC;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch56 {
    background-color: #F2D3B4;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch57 {
    background-color: #F3D4B5;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch57 {
    background-color: #321C0F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch58 {
    background-color: #4A2918;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch59 {
    background-color: #793E1E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch60{
    background-color: #9D5A2F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch61{
    background-color: #B46E3A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch62{
    background-color: #B77946;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch63{
    background-color: #CA905B;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch63{
    background-color: #DA9E6A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch64{
    background-color: #DEA168;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch65{
    background-color: #CA905B;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch66{
    background-color: #E6AC7A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch67{
    background-color: #E9B480;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch68{
    background-color: #EECB98C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch68{
    background-color: #EECB98C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch69{
    background-color: #442A1B;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch70{
    background-color: #382517;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch71{
    background-color: #543822;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch72{
    background-color: #593920;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch73{
    background-color: #4E3018;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch74{
    background-color: #573720;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch75{
    background-color: #613C21;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch76{
    background-color: #613C21;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch77{
    background-color: #664325;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch78{
    background-color: #664126;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch79{
    background-color: #6D4428;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch80{
    background-color: #865431;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch81{
    background-color: #764928;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch82{
    background-color: #895732;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch83{
    background-color: #9E6637;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch84{
    background-color: #A96B3A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch85{
    background-color: #A56832;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch86{
    background-color: #AA7241;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch87{
    background-color: #A97442;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch88{
    background-color: #B07C43;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch89{
    background-color: #BF8651;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch90{
    background-color: #CD9059;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch91{
    background-color: #C08950;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch92{
    background-color: #D1965E;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch93{
    background-color: #DBA569;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch94{
    background-color: #D7A270;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch95{
    background-color: #E5B177;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch96{
    background-color: #E9BA84;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch97{
    background-color: #E9B988;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch98{
    background-color: #EABE8D;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch99{
    background-color: #ECC290;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch100{
    background-color: #2B221B;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch101{
    background-color: #372616;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch102{
    background-color: #6E4A30;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch103{
    background-color: #8C5735;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch104{
    background-color: #C08656;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch105{
    background-color: #A78667;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch106{
    background-color: #DFBA90;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch107{
    background-color: #2A2118;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch108{
    background-color: #452B1A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch109{
    background-color: #572D14;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch110{
    background-color: #614225;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch111{
    background-color: #7B4B25;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch112{
    background-color: #71381A;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch113{
    background-color: #9C764F;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch114{
    background-color: #AC7C4C;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch115{
    background-color: #A78667;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch116{
    background-color: #524031;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch117{
    background-color: #B39579;
}

.FeaturedProduct_ScrollerCard_Info_Color_Swatch118{
    background-color: #28292D;
}